<div class="container">

    <div class="product">
        <div class="card col-md-3" *ngFor="let product of products">
            <img src="{{product.images[0]}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text">{{product.description}}</p>
              <p class="card-text"> ფასი:{{product.price}}</p>
              <a href="#" class="btn btn-primary">ID:{{product.id}}</a>
              <a href="#" class="btn btn-success d-block mt-3" [routerLink]="[product.id]">see detailed</a>
            </div>
        </div>
    </div>

</div>
