.product{
    display: flex;
    flex-wrap: wrap;
    .card{
        box-sizing: border-box;
        padding: 20px;
        text-align: center;
        .card-text{
            height: 30px;
            overflow: hidden;
        
        }
        img{
            height: 250px;
            object-fit: contain;
        }
    }
}